<div class="emptyBox" style="margin-bottom: 144px;">
  <p>m</p>
</div>

<div class="name">
  Autumn Davis
</div>

<br>

<div class="intro">
  Artist | Writer | Dreamer | Web Developer
</div>

<br><br>

<div class="contactInfo">
  Philadelphia, PA <br> (267) 838-3042 <br> foreverautumn16@outlook.com <br> <a href="https://www.linkedin.com/in/autumn-davis-0b590a158/">Website​</a> | <a href="https://github.com/AutumnIDavis">GitHub</a>
</div>

<br>
<div class="SubCat">
  SKILLS
</div>

<br><br>

<div class="highlight">
  HTML | CSS | JavaScript | jQuery | Ruby on Rails | Git | GitHub
</div>

<br><br><br>


<div class="SubCat">
  PROJECTS
</div>

<br><br><br>

<div class="title">
  Hero-Hangman | <a href="https://github.com/AutumnIDavis/Hangman-Game">GitHub</a>
</div>


<div class="descript">
  <em>A hangman game themed around the identities of DC characters. Object-oriented, it
  is a hint and guess game for all ages!
  </em>
</div>


  <div class="list">
    CSS, JavaScript, HTML
    <br>
    <br>
    <br>
    ○ I created, designed, connected and implemented all the files
    <br>
    <br>
    ○ Single paged with heavy css styling, a countdown, and media
query for size responsiveness.<br>
  </div>


<div class="title">
    The Mysterious Mystery of the Caped Cohort | <a href="https://github.com/AutumnIDavis/The-Mysterious-Mystery-of-the-Caped-Cohort">GitHub</a>
</div>

<div class="descript">
  <em>A short, interactive, parallax graphic novel with choices, music, and autoscroll.</em>
</div>


  <div class="list">
    A group project that focused on front-end design and an enjoyable user experience.
    <br>
    <br>
    <br>
    ○ The images are all hand drawn and custom
    <br>
    <br>
    ○ The interaction options make this more than a graphic novel,
    but interactive as well.
  <br>
  </div>

  <br><br>


<div class="title">
  Timely | <a href="https://github.com/AutumnIDavis/Timely">GitHub</a>
</div>


<div class="descript">
  <em>An app that keeps your morning scheduled and on time</em>
</div>

  <div class="list">
    Written with Ruby on Rails, CSS, and JavaScript
    <br>
    <br>
    <br>
    ○ Five api’s total: two google api's,, a weather api, and a speech
recognition and feedback api
    <br>
    <br>
    ○ Layout is single paged, designed to be simplistic and minimalistic, while also being bright and subtly colorful.
    <br>
    <br>
    ○ Attention is equally put on a customizable task list, the weather,
        and the current time.
  </div>
    <br>
    <br>
    <br>
