<div class="blog">
<div class="2">
  <em>The Birth of a Portfolio</em>
  <br><br>
  After, probably, a month on being on summer "vacation", I'm ready to get to work on building a real, legit portfolio. Web Development class was brutal (<em>which was my reason for such a long hiatus</em>), but my desire to look like <em>Tim Drake</em> as I coded was stronger. There is a certian thrill that comes from having someone look over your shoulder in wonderment. There's something empowering about knowing that person has no idea what your doing and is, to a certain extent, impressed with you.
  <br><br>
  You feel smarter. Cooler. Inferior in a way that makes no sense. If you're willing to embrase your inner nerd and flaunt it like I am, then that confused look on their face, that shake of the head as they leave silently, is worth the imposter syndrome you constantly fight with.
  <br><br>
  So far, anyway.
  <br><br>
  Currently, all of my routes are up and working perfectly (<em>I celebrate the small things in life with ice cream, as any normal person does</em>), but I'm thinking my color scheme is all wrong. I wanted a dark, modern, sleek, and chic looking page, like some kind of Sherlock Holmes trailer, but in reality, it just looks dark and bland.
  <br><br>
  Hopefully, all it's missing is some content. It looks bland because it's blank. So with more content and 'meat', my site should look like a professional... something.
  <br><br>
  I dont even know yet.
</div>

<br>

<div class="1">
  <hr>
  <br>
  <em>Welcome to my blog!</em>
  <p >Ever since I could remember, I've seen the world differently than all my friends and family around me. I spoke in song. I smelled of paint. I dreamed in color. I loved in poetry. When everyone else was out riding their bikes, I was reading books under a tree. Lost in thought and reveries.

  What they called eccentric, I called creative.
  <br><br>
  I'm proud of the weirdness. And I love that about myself. I take that 'out-of-the-box-ness' and turn it into whatever I need it to be. Code. Digital art. A song. A poem.
  <br><br>
  Currently, I am a Web Development student at New York Code and Design Academy, a 12-week intensive bootcamp. I'm turning crazy ideas into programs, unconventional whims into JavaScript, and coffee into code. I have experience in JavaScript, CSS, Photoshop, art, design, Git, GitHub, and every day I'm expanding the database.
  <br><br>
  I would love to merge my passions of art and technology to make something the world has never seen before.
  <br><br>
  I've always got an idea or two up my sleeve. Contact me if you want to talk about it!</p>
</div>
</div>
