// Place all the styles related to the draw controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// // Place all the styles related to the Work controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/


body{
  background-color: white;
}

.concept {
  display: inline-flex;
  // padding: 64px;
}
//
.concept img{
  // max-width: 730px;
  max-height: 820px;
}

#content {
    height: 100%;
    margin: 0 0 0 300px;
    top: 0;
}


#img-container {
    margin: 20px 0px 0px -33px ;
    padding: 0;
}

#img-container .picture_holder {
    float: left;
}
