// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background{
  background: url("untitled.png");
  margin: -10px 0px;
  height: 1000px;
  width: 100%;
}
