// Place all the styles related to the Resume controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p{
  color: white;
}

a{
  color: rgb(203, 10, 114)
}

a:visited {
    color: rgb(19, 195, 207);
}

ol{
  text-align: left;
  font-size: 10px;
}

p{
  font-size: 20px;
}
