// Place all the styles related to the Resume controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p{
  color: white;
}

a{
  color: rgb(203, 10, 114)
}

a:visited {
    color: rgb(19, 195, 207);
}

ol{
  text-align: left;
  font-size: 10px;
}

p{
  font-size: 20px;
}


.name{
  font-size: 40px;
  color: pink;
}

.intro{
  color: white;
}

.contactInfo{
  color: #bcbcbc;
  padding: 13px 0px;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 22px;
}

.SubCat{
  color: white;
}

.title{
  color: #ffc0cb;
  padding: 20px 0px;
  letter-spacing: 1px;
  font-size: 21px;
  line-height: 22px;
}

.descript{
  color: #bcbcbc;
  padding: 13px 0px;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 22px;
}
