// Place all the styles related to the Work controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.zoom {
  display: inline-flex;
  padding: 50px;
}
.zoom img{
  width: 230px;
  height: 230px;
}

.concept {
  display: inline-flex;
  padding: 50px;
}

.concept img{
  width: 230px;
  height: 230px;
}
